.hero-area{

    padding-top: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(175,19,84,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    min-height: 200px;

}

footer{
    background-color: thistle;
    color: black;
}